/*!
 * This is a collection of CSS styles that will be imported in the TEApp and serve as a header function
 * File created: 7/20/20
 */
 
body {
  background-color: #86bbd8;/*#dae3e5;*/
}

.well{
  background: #dae3e5;
}

hr {
  border-top: 1px solid #A9A9A9;
}