/*!
 * This is a collection of CSS styles that will be imported in the TEApp and serve as a header function
 * File created: 7/20/20
 */
 
body {
  background-color: #86bbd8;/*#dae3e5;*/
}

.well{
  background: #dae3e5;
  border: 2px solid black;
  height: 80%;
}

p {
  color: black;
}

hr {
  border-top: 1px solid #000000;
}

.irs-grid-text {
  color: #000000;
}

.irs-grid-pol { 
  background: #000000;
}