/*!
 * This is a collection of CSS styles that will be imported in the TEApp and serve as a header function
 * File created: 7/20/20
 */

/* change background color to bluish */
/*
body {
  background-color: #86bbd8;
}
*/

.btn {
  color: #000000; /* #2ecc71; */
  border: 1px #000000 solid; /* #2ecc71 solid; */
  background-color: #dae3e5;
}

.btn:hover {
  color: #000000;
  background-color: #FFFFFF;
  border: 2px #000000 solid;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
  color: #000000;
  background-color: #86bbd8;
  border: 2px #000000 solid;
}

/* add border to well panels, change color to gray */
.well{
  background: rgba(219,243,250,0.7);
  border: 2px solid black;
}

/* change font color to black */
p {
  color: #000000;
}

/* set horizontal line color to black */
hr {
  border-top: 1px solid #000000;
}

img {
  text-align: center;
}

/* increase size for the input selecting displayed species on conc graph */
#selection_species {
  font-size: 120%;
}

/* set position and weight of input variable summary expression */
#blurb {
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}

/* set bluish color for fill of slider */
.irs-bar {
  background: #86bbd8;
  border-top: 1px solid #86bbd8;
  border-bottom: 1px solid #86bbd8;
}

/* set blueish color for edge of slider */
.irs-bar-edge {
  background: #86bbd8;
  border: 1px solid #86bbd8;
}

/* change color of "go" button to bluish */
#go {
  background: #86bbd8;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000000;
}

.checkbox :checked { 
  background: #86bbd8; 
}

/* set black color for text under slider */
.irs-grid-text {
  color: #000000;
}

/* set black color for tick marks on slider */
.irs-grid-pol { 
  background: #000000;
}

.table {
  border: 1px solid black;
}

#tablespot td {border: 1px solid #000000;text-align:center}

#tablespot th, td {border: 1px solid #000000;text-align:center}

/* change color of background for selected number to bluish*/
.irs-from, .irs-to, .irs-single {
  background: #86bbd8;
  color: #000000;
  font-size: 90%;
  border: 1px solid #000000;
}